<!-- <script src="./node_modules/socket.io/client-dist/socket.io.js"></script> -->
<script>
    var socket = io();

    var messages = document.querySelector('section ul')
    var input = document.querySelector('input')

    document.querySelector('form').addEventListener('submit', (event) => {
        event.preventDefault()
        if (input.value) {
            socket.emit('message', input.value)
            input.value = ''
        }
    })
</script>
</body>

</html>