* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    background-image: url(img/stars.png);
    background-size: 800px;
    scroll-behavior: smooth;
    overflow: hidden;
    font-family: 'Righteous', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 999;
    display: none;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0,0,0,0.5));
}

.startmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(img/stars.png);
    background-size: 800px;
}

.planet {
    position: absolute;
    z-index: -2;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pinpoint {
    position: absolute;
    z-index: -1;
    font-weight: 800;
}

h1 {
    font-size: 42px;
    color: white;
    font-weight: 800;
    margin: 2rem 1rem 5rem 1rem;
    text-align: center;
}

h2 {
    color: white;
    font-size: 22px;
    margin-bottom: .5rem;
}

ul {
    color: white;
    list-style: none;
}

li {
    margin-bottom: .5rem;
}

.rocketWrap {
    position: absolute;
    height: 15rem;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1rem;
    z-index: 999;
    opacity: .8;
    margin-bottom: 1rem;
}

.rocket {
    width: 10rem;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

main section img {
    width: 15rem;
}

main form {
    width: 40vmax;
    z-index: 999;
}

main form label {
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: .2rem;
    opacity: .8;
}

main input {
    width: 100%;
    height: 2rem;
    padding: 5px;
    border: none;
    box-sizing: border-box;
    margin: 1rem 0 2rem 0;
    font-size: 18px;
}

main form button {
    width: 100%;
    background-color: lightskyblue;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

main form button:hover {
    background-color: aqua;
}

footer {
    position: fixed;
    left: 0;
    bottom: 1rem;
    width: 100%;
    opacity: .5;
    display: none;
    z-index: 999;
    padding: 1rem;
}

footer p {
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-shadow: 0 0 12px black;
}
